@media (min-width: 992px) and (max-width:1246px){

    /* Ajustes en todo lo relacionado con el header */
    header{
        border-bottom: none;
    }

    header img{
        width: 20%;
    }
    
    .input-busqueda{
        width: 50%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
    }

    .navbar{
        gap: 35px;
    }

    /* Los elementos del navbar ya se me hacen muy grandes, por lo que es mejor usar el menú hamburguesa */
    .navbar-lista{
        position: absolute;
        /* Como el height de mi header es de 70px, entonces lo ideal seria colocarlo justo debajo del header */
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        /* Para que haya separación */
        padding-bottom: 1.1%;
        padding-top: 1.1%;
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(52, 52, 52);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        /* Para ocultar el menu en el flujo del documento cuando no esta checked el menu hamburguesa */
        transform: translateX(150%);
        transition: all 0.2s ease;
    }

    /* Básicamente estoy diciendo que si el input menu-toggle esta 'clickeado', entonces el elemento hermano inmediato va a tener dicha propiedad */
    #menu-toggle:checked + .navbar-lista{
        transform: translate(0%);
    }
    /* Fin de los ajustes en el header */
    /* Comienzo de los ajustes en el hero */

    .hero-info{
        width: 55%;
    }

    .hero-info h1{
        font-size: 5rem;
    }

    .hero-info p{
        font-size: 0.8rem;
        /* background-color: red; */
    }
    /* Fin de los ajustes en el hero */

    /* Comienzo de los ajustes en la seccion nosotros */
    #nosotros h1{
        font-size: 1.4rem;
    }

    .nosotros-info p{
        font-size: 0.90rem;
    }

    .compu{
        font-size: 150%;
    }
    /* Fin de los ajustes en la seccion nosotros */

    /* Comienzo de los ajustes en la seccion producto */
    #productos h1{
        font-size: 1.4rem;
    }

    .teclado{
        font-size: 150%;
    }

    .card-producto{
        height: 300px;
    }

    .card-producto img{
        height: auto;
    }

    .card-producto p{
        font-size: 0.90rem;
    }

    .detalle p{
        font-size: 0.90rem;
    }
    /* Fin de los ajustes en la sección productos */

    /* Comienzo de los ajustes en la sección contacto */
    #contacto h1{
        font-size: 1.4rem;
    }

    .contenedor-contacto{
        width: 40%;
    }
    /* Fin de los ajustes en la sección contacto */

    /* Comienzo de los ajustes en el footer */
    .footer-contacto{
        width: 25%;
    }

    .footer-contacto p{
        font-size: 0.8rem;
    }

    .footer-medios-de-pago{
        width: 30%;
    }

    .footer-otros p{
        font-size: 0.8rem;
    }

    .footer-otros-politicas p{
        font-size: 0.7rem;
    }
}
/* Finalizado el responsive para escritorios grandes */

/* Comienzo del responsive para escritorios pequeños */
@media (min-width: 768px) and (max-width:992px){

    /* Ajustes en el header */
    header{
        border-bottom: none;
    }

    header img{
        width: 25%;
    }

    .input-busqueda{
        width: 40%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
    }

    .navbar{
        gap: 35px;
    }

    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.1%;
        padding-top: 1.1%;
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(52, 52, 52);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.2s ease;
    }

    #menu-toggle:checked + .navbar-lista{
        transform: translate(0%);
    }
    /* Fin de los ajustes en el header */

    /* Comienzo de ajustes en la seccion hero */
    .hero-info{
        width: 71%;
        padding: 10px;
    }

    .hero-info h1{
        font-size: 4.5rem;
    }

    .hero-info p{
        font-size: 0.8rem;
    }

    /* .boton-ver{
        width: 19%;
        padding: 0.25rem 0px;
    } */
    /* Fin de los ajustes en la sección hero */

    /* Comienzo de ajustes en la sección nosotros */
    #nosotros h1{
        font-size: 1rem;
    }

    .nosotros-info{
        width: 60%;
    }

    .nosotros-info p{
        font-size: 13.5px;
    }

    .compu{
        font-size: 140%;
    }
    /* Fin de los ajustes en la sección nosotros */

    /* Comienzo de los ajustes en productos */
    #productos h1{
        font-size: 20px;
    }

    .teclado{
        font-size: 140%;
    }

    .card-producto{
        height: 350px;
        width: 50%;
    }

    .card-producto img{
        height: auto;
    }

    .card-producto p{
        font-size: 13.5px;
        width: 65%;
    }

    .precio{
        font-size: 13.5px;
    }

    .detalle button{
        font-size: 13.5px;
    }
    /* Fin de los ajustes en productos */

    /* Comienzo de ajustes en la seccion contacto */
    #contacto h1{
        font-size: 20px;
    }

    .contenedor-contacto{
        width: 50%;
    }

    .contenedor-titulo h2{
        font-size: 20px;
    }
    /* Fin de los ajustes en la seccion contacto */

    /* Comienzo de los ajustes en el footer */
    .footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 11px;
    }

    /* La oculto ya que me parece mas relevante el resto de los elementos a la hora de darle información al usuario final */
    .footer-medios-de-pago{
        display: none;
    }

    .footer-otros{
        width: 50%;
    }

    .footer-otros p{
        font-size: 12.8px;
    }

    .footer-otros-politicas p{
        padding: 0px 5px 0px 0px;
        font-size: 8.5px;
    }
    /* Fin de los ajustes en el footer */
    /* Finalizado el responsive para escritorios grandes */

}

@media (min-width: 701px) and (max-width: 768px){
    /* Ajustes en el header */
    header{
        border-bottom: none;
    }

    header img{
        width: 25%;
    }

    .input-busqueda{
        width: 50%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
    }

    .navbar{
        gap: 35px;
    }

    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.1%;
        padding-top: 1.1%;
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(52, 52, 52);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.2s ease;
    }

    #menu-toggle:checked + .navbar-lista{
        transform: translate(0%);
    }
    /* Fin de los ajustes en el header */

    /* Comienzo de ajustes en la seccion hero */
    .hero-info{
        width: 75%;
        padding: 10px;
    }

    .hero-info h1{
        font-size: 4.5rem;
    }

    .hero-info p{
        font-size: 0.8rem;
    }
    /* Fin de los ajustes en la seccion hero */

     /* Comienzo de ajustes en la sección nosotros */
    #nosotros h1{
        font-size: 1rem;
    }

    .nosotros-info{
        width: 60%;
    }

    .nosotros-info p{
        font-size: 13.5px;
    }

    .compu{
        font-size: 140%;
    }
    /* Fin de los ajustes en la sección nosotros */
    /* Comienzo de los ajustes en productos */
    #productos h1{
        font-size: 20px;
    }

    .teclado{
        font-size: 140%;
    }

    .card-producto{
        height: 350px;
        width: 50%;
    }

    .card-producto img{
        height: auto;
    }

    .card-producto p{
        font-size: 13.5px;
        width: 65%;
    }

    .precio{
        font-size: 13.5px;
    }

    .detalle button{
        font-size: 13.5px;
    }
    /* Fin de los ajustes en productos */

     /* Comienzo de ajustes en la seccion contacto */
    #contacto h1{
        font-size: 20px;
    }

    .contenedor-contacto{
        width: 50%;
    }

    .contenedor-titulo h2{
        font-size: 1.1rem;
    }
    /* Fin de los ajustes en la seccion contacto */

    /* Comienzo de los ajustes en el footer */
    .footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 11px;
    }

    /* La oculto ya que me parece mas relevante el resto de los elementos a la hora de darle información al usuario final */
    .footer-medios-de-pago{
        display: none;
    }

    .footer-otros{
        width: 50%;
    }

    .footer-otros p{
        font-size: 12.8px;
    }

    .footer-otros-politicas p{
        padding: 0px 5px 0px 0px;
        font-size: 8.5px;
    }
    /* Fin de los ajustes en el footer */
}

@media (min-width: 568px) and (max-width: 701px){
    /* Ajustes en el header */
    header{
        border-bottom: none;
    }

    header img{
        width: 25%;
    }

    .input-busqueda{
        width: 50%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
    }

    .navbar{
        gap: 35px;
    }

    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.1%;
        padding-top: 1.1%;
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(52, 52, 52);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.2s ease;
    }

    #menu-toggle:checked + .navbar-lista{
        transform: translate(0%);
    }
    /* Fin de los ajustes en el header */

    /* Comienzo de ajustes en la seccion hero */
    .hero-info{
        width: 85%;
        padding: 10px;
    }

    .hero-info h1{
        font-size: 4.5rem;
    }

    .hero-info p{
        font-size: 0.8rem;
    }
    /* Fin de los ajustes en la seccion hero */

    /* Comienzo de ajustes en la sección nosotros */
    #nosotros h1{
        font-size: 1.2rem;
    }

    .nosotros-info{
        width: 70%;
    }

    .nosotros-info p{
        font-size: 13.5px;
    }

    .compu{
        font-size: 140%;
    }
    /* Fin de los ajustes en la sección nosotros */
    /* Comienzo de los ajustes en productos */
    #productos h1{
        font-size: 20px;
    }

    .teclado{
        font-size: 140%;
    }

    .card-producto{
        height: 320px;
        width: 50%;
    }

    .card-producto img{
        height: auto;
    }

    .card-producto p{
        font-size: 13.5px;
        width: 65%;
    }

    .precio{
        font-size: 13.5px;
    }

    .detalle button{
        font-size: 13.5px;
    }
    /* Fin de los ajustes en productos */
    /* Comienzo de ajustes en la seccion contacto */
    #contacto h1{
        font-size: 20px;
    }

    .contenedor-contacto{
        width: 50%;
    }

    .contenedor-titulo h2{
        font-size: 1.1rem;
    }
    /* Fin de los ajustes en la seccion contacto */

    /* Comienzo de los ajustes en el footer */
    .footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 11px;
    }

    /* La oculto ya que me parece mas relevante el resto de los elementos a la hora de darle información al usuario final */
    .footer-medios-de-pago{
        display: none;
    }

    .footer-otros{
        width: 50%;
    }

    .footer-otros p{
        font-size: 12.8px;
    }

    .footer-otros-politicas p{
        padding: 0px 5px 0px 0px;
        font-size: 8.5px;
    }
    /* Fin de los ajustes en el footer */
}