@media (min-width: 992px) and (max-width:1246px){

    /* Ajustes en todo lo relacionado con el header */
    header img{
        width: 200px;
    }
    
    .input-busqueda{
        width: 50%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
        cursor: pointer;
    }

    .navbar{
        gap: 35px;
    }

    /* Los elementos del navbar ya se me hacen muy grandes, por lo que es mejor usar el menú hamburguesa */
    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 1.1%;
        padding-top: 1.1%; */
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(255, 255, 255);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
        padding: 1.1% 0px 1.1% 0px;
        z-index: 2;
        padding: 20px 0px 20px 0px;
    }

    .navbar-lista li{
        display: flex;
        flex-direction: column;
    }

    .linea-texto{
        width: 100%;
        height: 1.5px;
        background-color: white;
        margin-top: 10px;
    }

    .abrir-menu{
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }
    /* Fin de los ajustes en el header */
    /* Comienzo de los ajustes en el hero */

    .hero-info{
        width: 450px;
    }

    .hero-info h1{
        font-size: 5rem;
    }

    .hero-info p{
        font-size: 0.9rem;
        /* background-color: red; */
    }
    /* Fin de los ajustes en el hero */

    /* Comienzo de los ajustes en la seccion nosotros */
    #nosotros h1{
        font-size: 1.4rem;
    }

    .nosotros-info{
        width: 450px;
    }

    .nosotros-info p{
        font-size: 0.9rem;
    }

    .compu{
        font-size: 150%;
    }
    /* Fin de los ajustes en la seccion nosotros */

    /* Comienzo de los ajustes en la seccion producto */
    #productos h1{
        font-size: 1.4rem;
    }

    .teclado{
        font-size: 150%;
    }

    .card-producto{
        height: 300px;
    }

    .card-producto img{
        width: 150px;
        height: 150px;
    }

    .card-producto p{
        font-size: 0.9rem;
    }

    /* Fin de los ajustes en la sección productos */

    /* Comienzo de los ajustes en la sección contacto */
    #contacto h1{
        font-size: 1.4rem;
    }

    .contenedor-contacto{
        width: 500px;
    }
    /* Fin de los ajustes en la sección contacto */

    /* Comienzo de los ajustes en el footer */
    .footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 0.8rem;
    }

    .footer-medios-de-pago{
        width: 30%;
    }

    .footer-otros{
        width: 50%;
    }

    .footer-otros p{
        font-size: 0.8rem;
    }

    .footer-otros-politicas p{
        font-size: 0.7rem;
    }
}
/* Finalizado el responsive para escritorios grandes */

/* Comienzo del responsive para escritorios pequeños */
@media (min-width: 768px) and (max-width:992px){

    /* Ajustes en el header */
    header img{
        width: 200px;
    }

    .input-busqueda{
        width: 50%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
        cursor: pointer;
    }

    .navbar{
        gap: 35px;
    }

    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 1.1%;
        padding-top: 1.1%; */
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(255, 255, 255);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
        padding: 1.1% 0px 1.1% 0px;
        z-index: 2;
        padding: 20px 0px 20px 0px;
    }

    .navbar-lista li{
        display: flex;
        flex-direction: column;
    }

    .linea-texto{
        width: 100%;
        height: 1.5px;
        background-color: white;
        margin-top: 10px;
    }

    .abrir-menu{
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    /* Fin de los ajustes en el header */

    /* Comienzo de ajustes en la seccion hero */
    .hero-info{
        width: 470px;
        padding: 0px 0px 0px 10px;
    }

    .hero-info h1{
        font-size: 5rem;
    }

    .hero-info p{
        font-size: 0.9rem;
    }

    /* .boton-ver{
        width: 19%;
        padding: 0.25rem 0px;
    } */
    /* Fin de los ajustes en la sección hero */

    /* Comienzo de ajustes en la sección nosotros */
    #nosotros h1{
        font-size: 1.4rem;
    }

    .nosotros-info{
        width: 450px;
    }

    .nosotros-info p{
        font-size: 0.9rem;
    }

    .compu{
        font-size: 150%;
    }
    /* Fin de los ajustes en la sección nosotros */

    /* Comienzo de los ajustes en productos */
    #productos h1{
        font-size: 1.4;
    }

    .teclado{
        font-size: 150%;
    }

    .card-producto{
        height: 350px;
        width: 50%;
    }

    .card-producto img{
        width: 150px;
        height: 150px;
    }

    .card-producto p{
        font-size: 1rem;
        width: 65%;
    }

    .detalle button{
        font-size: 0.9rem;
    }
    /* Fin de los ajustes en productos */

    /* Comienzo de ajustes en la seccion contacto */
    #contacto h1{
        font-size: 1.4rem;
    }

    .contenedor-contacto{
        width: 500px;
    }
    /* Fin de los ajustes en la seccion contacto */

    /* Comienzo de los ajustes en el footer */
    footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 0.8rem;
    }

    .footer-medios-de-pago{
        width: 30%;
    }

    .footer-otros{
        width: 50%;
    }

    .footer-otros p{
        font-size: 0.8rem;
    }

    .footer-otros-politicas p{
        font-size: 0.7rem;
    }
    /* Fin de los ajustes en el footer */
    /* Finalizado el responsive para escritorios grandes */
}

@media (min-width: 576px) and (max-width: 768px){
    /* Ajustes en el header */
    header img{
        width: 200px;
    }

    .input-busqueda{
        width: 40%;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
        cursor: pointer;
    }

    .navbar{
        gap: 35px;
    }

    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 1.1%;
        padding-top: 1.1%; */
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(255, 255, 255);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
        padding: 1.1% 0px 1.1% 0px;
        z-index: 2;
        padding: 20px 0px 20px 0px;
    }

    .navbar-lista li{
        display: flex;
        flex-direction: column;
    }

    .linea-texto{
        width: 100%;
        height: 1.5px;
        background-color: white;
        margin-top: 10px;
    }

    .abrir-menu{
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    /* Fin de los ajustes en el header */

    /* Comienzo de ajustes en la seccion hero */
    .hero-info{
        width: 470px;
        padding: 0px 0px 0px 10px;
    }

    .hero-info h1{
        font-size: 5rem;
    }

    .hero-info p{
        font-size: 0.9rem;
    }
    /* Fin de los ajustes en la seccion hero */

     /* Comienzo de ajustes en la sección nosotros */
     #nosotros h1{
        font-size: 1.4rem;
    }

    .nosotros-info{
        width: 450px;
    }

    .nosotros-info p{
        font-size: 0.9rem;
    }

    .compu{
        font-size: 150%;
    }
    /* Fin de los ajustes en la sección nosotros */
    /* Comienzo de los ajustes en productos */
    #productos h1{
        font-size: 1.4;
    }

    .teclado{
        font-size: 150%;
    }

    .card-producto{
        height: 350px;
        width: 50%;
    }

    .card-producto img{
        width: 150px;
        height: 150px;
    }

    .card-producto p{
        font-size: 1rem;
        width: 65%;
    }

    .detalle button{
        font-size: 0.9rem;
    }
    /* Fin de los ajustes en productos */

     /* Comienzo de ajustes en la seccion contacto */
    #contacto h1{
        font-size: 1.4rem;
    }

    .contenedor-contacto{
        width: 500px;
    }
    /* Fin de los ajustes en la seccion contacto */

    /* Comienzo de los ajustes en el footer */
    footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 0.8rem;
    }

    .footer-medios-de-pago{
        width: 30%;
    }

    .footer-otros{
        width: 50%;
    }

    .footer-otros p{
        font-size: 0.8rem;
    }

    .footer-otros-politicas p{
        font-size: 0.7rem;
    }
    /* Fin de los ajustes en el footer */
}

@media (min-width: 320px) and (max-width:576px){

    /* Ajustes en el header */
    header img{
        width: 200px;
    }

    .input-busqueda{
        display: none;
    }

    .menu-label{
        order: 4;
    }

    .menu-label i{
        display: flex;
        color: white;
        font-size: 150%;
        cursor: pointer;
    }

    .navbar{
        gap: 35px;
    }

    .navbar-lista{
        position: absolute;
        top: 70px;
        width: 90%;
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 1.1%;
        padding-top: 1.1%; */
        backdrop-filter: blur(23px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgb(255, 255, 255);
        border-top: none;
        text-align: center;
        border-radius: 2px;
        transform: translateX(150%);
        transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
        padding: 1.1% 0px 1.1% 0px;
        z-index: 2;
        padding: 20px 0px 20px 0px;
    }

    .navbar-lista li{
        display: flex;
        flex-direction: column;
    }

    .linea-texto{
        width: 100%;
        height: 1.5px;
        background-color: white;
        margin-top: 10px;
    }

    .abrir-menu{
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    /* Fin de los ajustes en el header */

    /* Comienzo de ajustes en la seccion hero */

    #hero{
        padding: 70px 0px 70px 0px;
    }

    .hero-info{
        width: 85%;
    }

    .hero-info h1{
        font-size: 3rem;
    }

    .hero-info p{
        font-size: 0.8rem;
    }

    .boton-ver{
        width: 100px;
    }
    /* Fin de los ajustes en la seccion hero */

    /* Comienzo de ajustes en la sección nosotros */
     #nosotros h1{
        font-size: 1.4rem;
    }

    .nosotros-info{
        width: 275px;
    }

    .nosotros-info p{
        font-size: 0.9rem;
    }

    .compu{
        font-size: 150%;
    }
    /* Fin de los ajustes en la sección nosotros */

    /* Comienzo de los ajustes en productos */
    #productos h1{
        font-size: 1.4;
    }

    .teclado{
        font-size: 150%;
    }

    .card-producto{
        height: 350px;
        width: 100%;
    }

    .card-producto img{
        width: 150px;
        height: 150px;
    }

    .card-producto p{
        font-size: 1rem;
        width: 65%;
    }

    .detalle button{
        font-size: 0.9rem;
    }
    /* Fin de los ajustes en productos */

    /* Comienzo de ajustes en la seccion contacto */
    #contacto h1{
        width: 80%;
        font-size: 1.2rem;
    }

    .contenedor-contacto{
        width: 280px;
    }
    /* Fin de los ajustes en la seccion contacto */

    /* Comienzo de los ajustes en el footer */
    footer-contacto{
        width: 50%;
    }

    .footer-contacto p{
        font-size: 0.8rem;
    }

    .footer-medios-de-pago{
        width: 30%;
    }

    .footer-otros{
        width: 40%;
    }

    .footer-otros p{
        font-size: 0.8rem;
    }

    .footer-otros-politicas p{
        font-size: 0.7rem;
        display: none;
    }
    /* Fin de los ajustes en el footer */
}
