@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

/* Reseteo de las variables */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: black;
}

/* Ajustes en todo el navbar */
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Recordar que el header siempre lleva un height y no tiene que ser con % al no tener una altura definida el contenedor padre */
    height: 70px;
    /* background: #270040;
    background: linear-gradient(180deg,rgba(39, 0, 64, 1) 0%, rgba(19, 20, 21, 1) 57%, rgb(0, 0, 0) 100%); */
    padding: 0px 40px 0px 0px;
    border-bottom: 1px solid #9e6701bf;
    background-color: black;
    z-index: 2;
}

header img{
    margin-bottom: 0.1%;
    width: 15%;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-busqueda{
    width: 30%;
    border-radius: 15px;
    padding-left: 10px;
    height: 40%;
    border: 1px solid black;
}

.navbar-lista{
    display: flex;
    gap: 20px;
    padding: 0px 50px 0px 80px; 
}

.navbar-lista li a{
    color: white;
    transition: all 0.5s ease;
}

.navbar-lista li:first-child{
    font-weight: 600;
}

.navbar-lista li a:hover{
    padding: 0px 5px 0px 5px;
}

.carrito-label{
    position: relative;
    color: white;
    font-size: 150%;
    display: flex;
    cursor: pointer;
}

.cart-bubble{
    position: absolute;
    top: -10px;
    left: 13px;
    color: white;
    font-size: 0.8rem;
    background-color: #9e6701fe;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 2.5px 0px 0px 9.5px;
}

/* Finalizacion del navbar */

/* Ajustes del hero */
#hero{
    /* Me sirve para poder crear más 'borde' al hero, es decir, darle más volumen */
    padding: 70px;
    margin-top: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
    /* animation: bg 20s ease-in-out infinite; */
    padding-bottom: 70px;
}

.hero-imagenes{
    width: 100%;
    height: 370px;
    position: absolute;
    top: 70px;
    animation: bg 20s ease-in-out infinite alternate;
    z-index: -1;
}

.hero-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

@keyframes bg {
    0%{
        background-image: url(/img/imagenPC1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
    }

    50%{
        background-image: url(/img/imagenPC2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
    }
    100%{
        background-image: url(/img/imagenPC3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
    }
}

.hero-info h1 {
    font-family: 'Monoton', cursive;
    font-size: 6.25rem;
    color: #ffffffd3;
    letter-spacing: 0.1em;
    line-height: 1;
}

.hero-info p{
    color: #ffffff;
}

.boton-ver{
    background-color: #131415;
    border: 1px solid white;
    color: white;
    width: 25%;
    height: auto;
    padding: 5px 0px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}

.boton-ver:hover{
    background-color: #ffffffe3;
    color: #131415;
}
/* Fin de los ajustes en el hero */

/* Ajustes en nosotros */
#nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px;
    padding: 20px;
    border-bottom: 1px solid rgb(52, 52, 52);
    /* (32,32,32) */
    /* background-color: red; */
}

#nosotros h1{
    color: #ffffffe3;
    font-weight: 500;
}

.nosotros-info{
    color: #ffffffd3;
    width: 50%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    border: none;
    position: relative;
}

.nosotros-info::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, 
    #a1a1a1, #ffffff, #a1a1a1, #ffffff,
    #bbbbbb, #c7c7c7, #bbbbbb, #ffffff);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(3px);
    animation: glowing 20s linear infinite;
}

/* #906a01, #723f00, #413800, #5f3400,
    #906a01, #723f00, #413800, #5f3400 */

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.nosotros-titulo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.compu{
    color: #ffffffd3;
    /* color: #be6301d0; */
    font-size: 170%;
}

/* Fin de los ajustes en nosotros */

/* Comienzo de los ajustes en productos */
#productos{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 10px 0px 0px 0px;
    margin-bottom: 30px;
}

#productos h1{
    color: #ffffffe3;
    font-weight: 500;
}

.productos-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.teclado{
    color: #ffffffe3;
    font-size: 170%;
}

.filtros-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.categorias{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.701);
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.8s ease;
    cursor: pointer;
    gap: 8px;
    background-color: #131415;
    font-size: 17px;
}

.categorias:hover{
    background-color: #ffffffe3;
    border: 1px solid #131415;
}

.categorias:hover p{
    color: #131415;
}

.categorias:hover i{
    color: #131415
}

.icono-categoria{
    color: #ffffffd3;
    font-size: 80%;
    transition: all 0.5s ease;
}

.ver-mas-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boton-ver-mas{
    border: 1px solid rgba(255, 255, 255, 0.701);
    background-color: black;
    padding: 8px 25px;
    color: #ffffffd3;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.boton-ver-mas:hover {
    background-color: #ffffffe3;
    border: 1px solid #131415;
    color: #131415;
}

.titulo-categoria{
    color: #ffffffe3;
    font-weight: 500;
}

.activo {
    background-color: #ffffffe3;
    border: 1px solid #131415;
}

.activo p {
    color: #131415;
}

.activo i {
    color: #131415
}

.productos-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.card-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 350px;
    padding: 20px;
    gap: 15px;
    border: 0.5px solid rgb(52, 52, 52);
    border-left: none;
    color: #ffffffe3;
}

.card-producto img{
    width: 40%;
    height: auto;
    transition: all 0.5s ease;
}

.card-producto img:hover{
    scale: 1.2;
}

.detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.precio{
    color: #fff;
    font-weight: 500;
}

.detalle button{
    background-color: #131415;
    color: #ffffffed;
    padding: 5px 15px;
    border: 1px solid #ffffff95;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.detalle button:hover{
    background-color: rgba(234, 232, 232, 0.873);
    color: #131415;
    border: 1px solid #131415;
}
/* Fin de los ajustes en producto */

/* Comienzo de los ajustes en contacto */
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 35px;
}

#contacto h1{
    color: white;
    font-weight: 500;
}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #101112;
    width: 30%;
    transition: all 0.3s ease;
}

.contenedor-contacto:hover{
    box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
}

.contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contenedor-contacto img{
    width: 50px;
    height: 50px;
    filter: brightness(1);
}

.contenedor-titulo h2{
    color: white;
    font-weight: 500;
    order: 2;
    font-size: 1.19rem;
}

.contacto-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contacto-info input{
    background-color: #101112;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 5px;
    color: white;
    width: 80%;
}

.contacto-info textarea{
    background-color: #101112;
    border: 1px solid white;
    padding: 5px;
    color: white;
    width: 80%;
    resize: none;
}

.contacto-info button{
    width: 100px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid #101112;
}

.contacto-info button:hover{
    background-color: #101112;
    color: white;
    border: 1px solid white;
}
/* Fin de los ajustes en contacto */

/* Comienzo de los ajustes en el menú del carrito */

.carrito-compras{
    display: flex;
    flex-direction: column;
    /* Recordar que el fixed te fija el elemento en el navegador */
    position: fixed;
    width: 25%;
    left: 75%;
    height: 100%;
    top: 70px;
    padding: 30px;
    background-color: black;
    border-left: 1px solid rgb(52, 52, 52);
    gap: 30px;
    z-index: 2;
    transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    transform: translateX(100%);
}

.carrito-compras-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #ffffffe3;
}

.carrito-contenedor-productos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 15px;
}

.carrito-contenedor-productos p{
    color: #afa9a9
}

.carrito-compras-info h2{
    font-weight: 600;
}

.linea-separadora-carrito{
    width: 100%;
    height: 1.5px;
    background-color: #9e6701fe;
    margin-top: 10px;
}

.carrito-compras-total{
    display: flex;
    color: #ffffffe3;
    justify-content: space-between;
}

.carrito-compras-precio{
    display: flex;
    gap: 5px;
}

.boton-comprar{
    background-color: black;
    border: 1px solid #ffffffe3;
    border-radius: 5px;
    color: #ffffffe3;
    padding: 10px 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.boton-comprar:hover {
    background-color: #222325;
    color: white;
    border: 1px solid white;
}

.boton-vaciar{
    background-color: black;
    border: 1px solid #ffffffe3;
    border-radius: 5px;
    color: #ffffffe3;
    padding: 10px 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.boton-vaciar:hover {
    background-color: #222325;
    color: white;
    border: 1px solid white;
}

/* Fin de los ajustes en el menú del carrito */
/* Comienzo de los ajustes en footer */

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.contenedor-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
    margin-bottom: 30px;
}

.linea-separadora{
    width: 100%;
    height: 1px;
    background-color: rgb(52, 52, 52);
    margin-top: 30px;
}

.contenedor-footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-footer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 15px;
}

.contacto-numero{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contacto-numero p{
    font-size: 0.875rem;
    color: #ffffffd3;
    font-weight: 500;
}

.icono{
    color: #ffffffd3;
    font-size: 120%;
}

.contacto-mail{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contacto-mail p{
    font-size: 0.875rem;
    color: #ffffffd3;
    font-weight: 500;
}

.contacto-ubicacion{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contacto-ubicacion p{
    font-size: 0.875rem;
    color: #ffffffd3;
    font-weight: 500;
}

.footer-medios-de-pago{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 33.3%;
}

.icono-pago{
    font-size: 200%;
    color: #ffffffd3;
}

.footer-otros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    height: auto;
}

.footer-otros-redes{
    display: flex;
    gap: 10px;
}

.footer-otros-info p{
    color: #ffffffd3;
    font-size: 0.875rem;
}

.footer-otros-politicas{
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-otros-politicas p{
    color: #ffffffd3;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-otros-politicas p:hover{
    padding: 0px 5px 0px 5px;
}
/* Finalizacion de los ajustes en el footer */

.overlay{
    position: absolute;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /* Para que pase por encima de todas las cosas*/

    /* Efecto de glassmorfismo */
    background: rgba(255,255,255,0.05);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.esconder{
    display: none;
}

.abrir-carrito{
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.deshabilitar{
    cursor: not-allowed
}
















